nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid;
  border-color: var(--light-gray-text);
  padding: 10px;
  background: var(--body-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

nav h1 {
  color: var(--text-color);
  transition: color 0.3s;
  font-family: "Cabin Sketch";
  font-style: italic;
  font-size: 30px;
  cursor: pointer;
}

.nav-right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #e9e9e9;
  border-radius: 10px;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffbe0b;
  transition: 0.4s;
}

.slider:before {
  font-family: FontAwesome;
  position: absolute;
  content: "\f185";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider:before {
  content: "\f186";
}

input:checked + .slider {
  background-color: #000000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  nav h2 {
    font-size: 20px;
  }
  .search-box input {
    width: 80px;
  }
}
